[workspace]
resolver = "2"
members = [
    "canister", "integration_tests",
    "canlog",
    "canlog_derive",
    "libs/client",
    "libs/types",
    "examples/basic_solana"]

[workspace.package]
authors = ["DFINITY Stiftung"]
edition = "2021"
repository = "https://github.com/dfinity/sol-rpc-canister"
homepage = "https://github.com/dfinity/sol-rpc-canister#readme"
license = "Apache-2.0"
readme = "README.md"

[profile.release]
debug = false
lto = true
strip = true
opt-level = 's'

# Required by `ic-test-utilities-load-wasm`
[profile.canister-release]
inherits = "release"

[workspace.dependencies]
assert_matches = "1.5.0"
async-trait = "0.1.88"
base64 = "0.22.1"
bincode = "1.3.3"
bs58 = "0.5.0"
candid = "0.10.13"
candid_parser = "0.1.4"
canhttp = { git = "https://github.com/dfinity/evm-rpc-canister", ref = "d7261024d16df7fadd1ee60e4cd70798f3cf5577" }
ciborium = "0.2.2"
const_format = "0.2.34"
derive_more = { version = "2.0.1", features = ["from", "into"] }
futures = "0.3.31"
# Transitive dependency of ic-ed25519
# See https://forum.dfinity.org/t/module-imports-function-wbindgen-describe-from-wbindgen-placeholder-that-is-not-exported-by-the-runtime/11545/8
getrandom = { version = "*", default-features = false, features = ["custom"] }
hex = "0.4.3"
http = "1.2.0"
ic-canister-log = "0.2.0"
ic-cdk = "0.17.1"
ic-ed25519 = "0.1.0"
ic-metrics-encoder = "1.1"
ic-stable-structures = "0.6.7"
ic-test-utilities-load-wasm = { git = "https://github.com/dfinity/ic", tag = "release-2025-01-23_03-04-base" }
maplit = "1.0.2"
minicbor = { version = "0.26.3", features = ["alloc", "derive"] }
num = "0.4.3"
num-traits = "0.2.19"
pocket-ic = "7.0.0"
proptest = "1.6.0"
regex = "1.11.1"
serde = { version = "1.0.219", features = ["derive"] }
serde_bytes = "0.11.17"
serde_json = "1.0.140"
serde_with = "3.12.0"
solana-account = "2.2.0"
solana-account-decoder-client-types = "2.2.0"
solana-clock = "2.2.0"
solana-client = "2.2.0"
solana-commitment-config = "2.2.0"
solana-hash = "2.2.0"
solana-instruction = "2.2.0"
solana-keypair = "2.2.0"
solana-message = "2.2.0"
solana-nonce = "2.2.0"
solana-program = "2.2.0"
solana-pubkey = "2.2.0"
solana-rpc-client-api = "2.2.0"
solana-signature = "2.2.0"
solana-signer = "2.2.0"
solana-transaction = "2.2.0"
strum = { version = "0.27.0", features = ["derive"] }
thiserror = "2.0.12"
tokio = "1.44.1"
tower = "0.5.2"
tower-http = "0.6.2"
url = "2.5"
zeroize = { version = "1.8", features = ["zeroize_derive"] }

# TODO XC-297: Currently, the solana-* crates have a dependency on wasm-bindgen
#   when they are built for wasm32-unknown-unknown target. For this reason, we
#   are using forked version of the relevant repositories.
#   see [solana-sdk#117](https://github.com/anza-xyz/solana-sdk/issues/117)
[patch.crates-io]
solana-account = { git = "https://github.com/dfinity/agave", tag = "323039e-js-feature-flag" }
solana-account-decoder-client-types = { git = "https://github.com/dfinity/agave", tag = "323039e-js-feature-flag" }
solana-client = { git = "https://github.com/dfinity/agave", tag = "323039e-js-feature-flag" }
solana-clock = { git = "https://github.com/dfinity/agave", tag = "323039e-js-feature-flag" }
solana-commitment-config = { git = "https://github.com/dfinity/agave", tag = "323039e-js-feature-flag" }
solana-hash = { git = "https://github.com/dfinity/agave", tag = "323039e-js-feature-flag" }
solana-instruction = { git = "https://github.com/dfinity/agave", tag = "323039e-js-feature-flag" }
solana-keypair = { git = "https://github.com/dfinity/agave", tag = "323039e-js-feature-flag" }
solana-message = { git = "https://github.com/dfinity/agave", tag = "323039e-js-feature-flag" }
solana-nonce = { git = "https://github.com/dfinity/agave", tag = "323039e-js-feature-flag" }
solana-program = { git = "https://github.com/dfinity/agave", tag = "323039e-js-feature-flag" }
solana-pubkey = { git = "https://github.com/dfinity/agave", tag = "323039e-js-feature-flag" }
solana-rpc-client-api = { git = "https://github.com/dfinity/agave", tag = "323039e-js-feature-flag" }
solana-signer = { git = "https://github.com/dfinity/agave", tag = "323039e-js-feature-flag" }
solana-signature = { git = "https://github.com/dfinity/agave", tag = "323039e-js-feature-flag" }
solana-transaction = { git = "https://github.com/dfinity/agave", tag = "323039e-js-feature-flag" }
solana-system-interface = { git = "https://github.com/lpahlavi/solana-program-system.git" }
