[package]
name = "sol_rpc_int_tests"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
repository.workspace = true
homepage.workspace = true
license.workspace = true

[dependencies]
async-trait = { workspace = true }
candid = { workspace = true }
canlog = { path = "../canlog" }
const_format = { workspace = true }
ic-cdk = { workspace = true }
ic-test-utilities-load-wasm = { workspace = true }
pocket-ic = { workspace = true }
regex = { workspace = true }
serde = { workspace = true }
serde_bytes = { workspace = true }
serde_json = { workspace = true }
sol_rpc_canister = { path = "../canister" }
sol_rpc_client = { path = "../libs/client" }
sol_rpc_types = { path = "../libs/types" }
solana-account = { workspace = true }
solana-account-decoder-client-types = { workspace = true }
solana-keypair = { workspace = true }
solana-message = { workspace = true }
solana-pubkey = { workspace = true }
solana-program = { workspace = true }
solana-rpc-client-api = { workspace = true }
solana-signer = { workspace = true }
solana-transaction = { workspace = true }
solana-signature = { workspace = true }

[dev-dependencies]
assert_matches = { workspace = true }
futures = { workspace = true }
solana-client = { workspace = true }
tokio = { workspace = true }
